<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= paginate @sales %>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= number_with_precision(sale.amount,precision:2) %></td>  <!--%= number_to_currency(sale.amout) %>-->
        <td><%= number_with_precision(sale.tax,precision:2) %></td> <!--%= number_to_currency(sale.tax) %>-->
        <td><%= sale.customer.name.upcase %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @sales %>
<%= link_to 'New Sale', new_sale_path %>
